@model SaazApplication.Models.AdminModel

<h3>This User is already logged In</h3>
<br/>
<h3>If you want to logout please click the link </h3>
<a href="~/Admin/Signin"><span class="site-title"></span>Logout</a>