<div>
    <h1></h1>
    <img src="~/Images/home.png" width="1150" height="250" />
</div>
<style>
    .active {
        font-size: medium;
    }
</style>
<br />
<div class="active">
    <p>
        <b>SAAZ </b>is an imaging solution company, providing Imaging Sensor IP's,
        Peripheral Analog IP's, Imaging SoC design and specialized camera
        System products. Focused on its core competency, Saaz has foundry and
        test house relationships for wafer fabrication, assembly and die screening
        tests.

    </p>
    <p>
        Our technologies, products and professional services enable electronic
        and semiconductor companies to deliver next-generation devices, systems
        and services competitively to customers in Aerospace,Defence,Medical,
        Industrial, Automotive and Security industries.
    </p>
    <p>
        We have a comprehensive portfolio of mixed signal IP's. Our proven
        nanometer SoC customers have benefited by putting their confidence in
        Analinear's capabilities to meet tight time to market schedules with
        reduced design risk.
    </p>
    <p>
        Founded in 2017, SAAZ IMAGING SYSTEMS has design centers in
        India,USA as well as sales offices and representatives globally.
    </p>
</div>

