

@{
    ViewBag.Title = "Contact Us ";
}

<div>
    <h1 style="text-align:center">CONTACT US</h1>
</div>

<style>
    .active {
        font-size: medium;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <h3>SAAZ Imaging Systems PVT.LTD.</h3>
        <p>
            Plot No 4A(1), GMR Aerospace Park, GMR Hyderabad Aviation SEZ Ltd., Rajiv
            Gandhi International Airport, Shamshabad, Hyderabad, Telangana - 501218,India
            Phone: +91-40-6555-5708, +91-40-2330-3095
        </p>
      
    </div>
    <div class="col-md-4">
        <h3>Rest of the World</h3>
        <p> Contact Person: Sai Hari
        Contact: +91 984 837 2063
        Email :shari@analineartech.com</p>
        
    </div>
   
</div>