
@{
    ViewBag.Title = "IP ";
}


    <h1 style="text-align:center">IP</h1>
    

<style>
    .active {
        font-size: medium;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h3>Image Sensor & ROIC's</h3>
        <ul>
            <li>Micro-bolometer 64x64 & 320x240</li> 
            <li>Linear Sensor 64 TDI</li>
            <li>MWIR 320x256</li> 
            <li>SWIR 1280 x1024, 640 x 512 , 320 x 256</li>
            
        </ul>

    </div>
    <div class="col-md-4">
        <h3>Data converters</h3>
        <ul>
            <li>10 to 14 bit pipeline ADCs up to 50 MS/Sec
            </li>
            <li>16 bit Sigma Delta ADCs upto 1 MS/Sec </li>
            <li>Rail to rail DAC in 1.8, 2.5, and 3.3V supplies </li>
            <li>16 bit 3MSPS SAR ADC </li>
            <li>14 bit RAMP ADC </li>
           
        </ul>

    </div>
    <div class="col-md-4">
        <h3>High speed links</h3>
        <ul>
            <li>LVDS tranceiver 600 MHz
              
            </li>
            <li>PLLs for 2.5 Gb/sec applications</li>
            

        </ul>

    </div>
    </div>

   