
@{
    ViewBag.Title = "Products";
}

<div>
    <h1 style="text-align:center">PRODUCTS</h1>
    <img src="~/Images/products.png" width="1150" height="250" />
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Jaguar640 & Jaguar-S320 are SWIR cameras</h3>

        <img src="~/Images/Jaguar.png" width="85%" height="50%" />
        &nbsp;&nbsp;JAGUAR is a compact (57mmx57mmx63mm) and low power SWIR (Short Wave
        InfraRed) Camera. It works in the range of 0.9μm to 1.7μm wavelength.
        <div>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">View Details &raquo;</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="row">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Jaguar640 & Jaguar-S320 are SWIR cameras</h4>
                            </div>
                            <div class="row">
                                <div class="modal-body">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-8">
                                        <img src="~/Images/Jaguar.png" width="420" height="280" />
                                    </div>

                                    <div class="col-md-6">
                                        <p>
                                            <strong>&nbsp;&nbsp;&nbsp;&nbsp;KEY FEATURES</strong>
                                        </p>
                                        <ul>
                                            <li>640x512, 15um Pixel</li>
                                            <li>Spatial Range: 0.9 to 1.7um (InGaAs detector)</li>
                                            <li>60 FPS Frame rate</li>
                                            <li>CamLink, USB2.0, NTSC or PAL</li>
                                            <li>Low Power (1.5W ) in lowest Power Mode</li>
                                            <li> 14 Bit High dynamic Range and ultra-low noise design</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>
                                                &nbsp;&nbsp;&nbsp;&nbsp;APPLICATIONS
                                            </strong>
                                        </p>
                                        <ul>
                                            <li>Pharmaceutical Quality inspection</li>
                                            <li>Haze/Smoke Vision</li>
                                            <li>Sorting Recycled Plastic</li>
                                            <li>Grain Sorting from contamination, stones etc</li>
                                            <li>Art inspection</li>
                                            <li>Semiconductor/Solar Panel Inspection</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                    </div>
                                    <div class="col-md-12">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <p>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <h3>Python series of LWIR Cameras</h3>
        <img src="~/Images/python.png" width="85%" height="50%" />
        <p>
            The Python 640 can be used for surveillance as well as industrial applications.
            It’s an easy plug & play camera with image processing inbuilt, allows real time
            image correction and recognition.
        </p>
        <div>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#pythonModal">View Details&raquo;</button>

            <!-- Modal -->
            <div id="pythonModal" class="modal fade" role="dialog">
                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Python series of LWIR Cameras</h4>
                        </div>
                        <div class="row">
                            <div class="modal-body">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <img src="~/Images/python.png" width="420" height="280" />
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong>&nbsp;&nbsp;&nbsp;&nbsp;KEY FEATURES</strong>
                                    </p>
                                    <ul>

                                        <li>640X480, 17um</li>
                                        <li>Spatial Range: 8 to 14um (Asi Micro-bolometer)</li>
                                        <li> Low-power (1.5W in TEC less mode)</li>
                                        <li>On-board NUC, BPR, AGC</li>
                                        <li>Camera-Link / Analog (CVBS Out)</li>
                                        <li>Supports external trigger (<2W></2W>) in lowest Power Mode</li>
                                        <li>Upto 50 FPS (for 640x480)</li>
                                        <li>Shutterless Mode (Optional)</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;APPLICATIONS
                                        </strong>
                                    </p>
                                    <ul>
                                        <li>Homeland Security</li>
                                        <li>
                                            Fire Fighting
                                        </li>
                                        <li>
                                            Pyrometric Measurements
                                        </li>
                                        <li>
                                            Industrial Preventive Maintenance
                                        </li>
                                        <li>
                                            Non Destructive Testing
                                        </li>
                                        <li>Medical Imaging</li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h3>Eagle</h3>
        <img src="~/Images/eagle.png" width="85%" height="50%" />
        <p>
            Eagle 1k x 1k cooled low noise CCD/CMOS cameras are designed for ultra-low
            noise readout such as required by pressing scientific and instrumentation
            equipment.
        </p>
        <div>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#EagleModal">View Details&raquo;</button>

            <!-- Modal -->
            <div id="EagleModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Eagle</h4>
                        </div><div class="row">
                            <div class="modal-body">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-8">
                                    <img src="~/Images/eagle.png" width="400" height="280" />
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong>&nbsp;&nbsp;&nbsp;&nbsp;KEY FEATURES</strong>
                                    </p>
                                    <ul>
                                        <li>1024 x 1024 CCD/ CMOS Sensor</li>
                                        <li>TE Cooling -200C critical for elimination of dark current</li>
                                        <li>Upto 10 fps Mode</li>
                                        <li>ReadOut noise as low as 2 e-</li>
                                        <li>100% Active Area</li>
                                        <li>Plug & Play USB2.0 connection</li>
                                        <li>F-Mount lens (Nikkon compatible)</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;APPLICATIONS
                                        </strong>
                                    </p>
                                    <ul>
                                        <li>Scientific Instruments/ Medical</li>
                                        <li>Spectroscopy</li>
                                        <li>Astronomical Applications</li>
                                        <li>Astrophotography</li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h3>Viper</h3>
        <img src="~/Images/viper.png" width="85%" height="50%" />
        <p>
            Viper640 cooled MWIR is a high resolution camera with IR imaging specially
            designed for remote weapon stations, Non Destructive Testing, UAV’s etc.
        </p><div>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ViperModal">View Details&raquo;</button>

            <!-- Modal -->
            <div id="ViperModal" class="modal fade" role="dialog">
                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Viper</h4>
                        </div><div class="row">
                            <div class="modal-body">
                                <div class="col-md-8">
                                    <img src="~/Images/viper.png" width="550" height="330" />
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong>&nbsp;&nbsp;&nbsp;&nbsp;KEY FEATURES</strong>
                                    </p>
                                    <ul>
                                        <li>
                                            640X512 , 15um pitch
                                        </li>
                                        <li>HgCdTe MWIR</li>
                                        <li>Spatial Range: 3.7 to 4.8um</li>
                                        <li>Typical NETD < 18 mK (293 K, 50 % well fill, 100 Hz)</li>
                                        <li>Frame rate (Up to 100Hz )</li>
                                        <li> Camera Link interface</li>
                                        <li>Negligible blinking pixels and very stable NUC</li>
                                        <li>Integrate-Then-Read and Integrate-While-Read Integration modes</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong>
                                            &nbsp;&nbsp;&nbsp;&nbsp;APPLICATIONS
                                        </strong>
                                    </p>
                                    <ul>
                                        <li> UAV/ Surveillance</li>
                                        <li>Industrial Process Monitoring</li>
                                        <li> Thermography</li>
                                        <li>Non-Destructive Testing</li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-4">
        <h3>Analog & Imager IPs and ICs</h3>
        <img src="~/Images/analog.png" width="85%" height="50%" />
        <p>

        </p><div>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AnalogModal">View Details&raquo;</button>

            <!-- Modal -->
            <div id="AnalogModal" class="modal fade" role="dialog">
                <div class="modal-dialog">


                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Analog & Imager IPs and ICs</h4>
                        </div>
                        <div class="row">
                            <div class="modal-body">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-9">
                                    <img src="~/Images/analog.png " width="400" height="280" />
                                </div>
                                <div class="col-md-12">
                                    <ul>
                                        <li>
                                            Analinear has about 100 Analog and Image Sensor IPs. Most of them are
                                            silicon and customer design proven. The remaining are in the process of
                                            being silicon qualified.
                                        </li>
                                        <li>
                                            The IPs are available off-the-shelf for customers to integrate. Analinear
                                            can provide engineering support as needed by the customers for the
                                            integration.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </div>
                                <div class="col-md-12">
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                    &nbsp;
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


